
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>Hello the names Andrew Fang  @ViewBag.title</h1>
        <br /><br />
        @Html.ActionLink("Home", "Index", "Home")
        @Html.ActionLink("Show the song!", "Razor", "Home")
        @Html.ActionLink("Persons", "CreatePerson", "Home") <br />

    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        The Layout works as the skeleton of all the pages such as that each page will follow this layout.
    </footer>
</body>
</html>